<div class="sidebar" id="sidebar">
    <div class="sidebar-inner slimscroll">
        <div id="sidebar-menu" class="sidebar-menu">
            <ul>
                <li class="menu-title">Main</li>
                <li class="active">
                    <a href=""><i class="fa fa-dashboard"></i> Dashboard</a>
                </li>
                <li>
                    <a href="chat.html"><i class="fa fa-comments" aria-hidden="true"></i> Chat <span class="badge bg-primary pull-right">5</span></a>
                </li>
                
                
               
                <li class="submenu">
                    <a href="javascript:void(0);"><i class="fa fa-address-card" aria-hidden="true"></i> <span>Contacts</span> <span class="menu-arrow"></span></a>
                    <ul style="display: none;">
                        <li>
                            <a href="{{path('prof')}}"><span>Les profes</span></a>
                        </li>
                        <li>
                            <a href="{{ path('parent') }}"><span>Les parents</span></a>
                        </li>
                    </ul>
                </li>

                <li>
                    <a href="{{ path('eleve') }}"><i class="fa fa-ticket" aria-hidden="true"></i>Les eleves</a>
                 </li>

                 <li>
                    <a href="{{ path('classe') }}"><i class="fa fa-tasks" aria-hidden="true"></i>Les classes</a>
                </li>
                <li>
                    <a href="{{ path('moyenne') }}"><i class="fa fa-th" aria-hidden="true"></i> les moyennes</a>
                </li>

                <li>
                    <a href="{{ path('emploi') }}"><i class="fa fa-calendar" aria-hidden="true"></i> Les emplois</a>
                </li>

                <li class="submenu">
                    <a href="#"><i class="fa fa-commenting-o" aria-hidden="true"></i> <span> Blog</span> <span class="menu-arrow"></span></a>
                    <ul class="list-unstyled" style="display: none;">
                        <li><a href="blog.html">Blog</a></li>
                        <li><a href="blog-details.html">Blog View</a></li>
                        <li><a href="add-blog.html">Add Blog</a></li>
                        <li><a href="edit-blog.html">Edit Blog</a></li>
                    </ul>
                </li>
               
                <li>
                    <a href="settings.html"><i class="fa fa-cog" aria-hidden="true"></i> Settings</a>
                </li>
                
                
                   
              
                
            </ul>
        </div>
    </div>
</div>